<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel='stylesheet' href='/css/base.css' />
    <script src="/js/thermostats.js"></script>

    <style>
      body {
        transition: opacity 0.5s;
      }
    </style>
  </head>

  <body class="hidden">
    <div style="flex:1"></div>
    <div id="nav"></div>
  </body>
</html>
