<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/base.css' />
    <style>
      #details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #details > .split-container {
        font-size: 20px;
      }
      img {
        opacity: 1;
        transition: opacity 0.5s;
        width: 50px;
        margin: 10px;
        float: right;
      }
      .hidden {
        opacity: 0;
      }
      .split-container {
        display: flex;
        position: relative;
      }
      .split-container > .item {
        flex: 1;
        margin: 5px;
        min-width: 0;
      }
      .split-container button {
        border: 1px solid;
        padding: 20px 0;
        font-size: 60px;
        background: white;
      }
      #currentTemp {
        font-size: 40px;
      }
      #sensors > div {
        padding: 3px;
      }
      #fan[state=on] {
        background-color: #999;
      }
      .fill {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        pointer-events: none;
      }
      .temp {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-weight: bold;
      }
      .heat {
        color: red;
      }
      .cool {
        color: blue;
      }
    </style>
  </head>

  <body class="hidden">

    <div style="height: 0"><img id="spinner" class="hidden" src="/img/spinner.gif"></div>

    <div id="details">
      <div class="temp item" id="currentTemp"></div>
      <div class="split-container">
        <div class="item" id="sensors"></div>
        <div class="item" id="override">
          <div>Mode: <span id="mode"></span></div>
        </div>
      </div>
    </div>

    <div class="split-container">
      <button class="item" onclick="resumeSchedule()" style="font-size: 30px">Resume Schedule</button>
      <button id="fan" class="item" onclick="toggleFan()">Fan</button>
    </div>

    <div class="split-container">
      <div class="cool temp fill" id="desiredCool"></div>
      <button class="item" onclick="modifyTemp('desiredCool', -1)">-</button>
      <button class="item" onclick="modifyTemp('desiredCool', 1)">+</button>
    </div>

    <div class="split-container">
      <div class="heat temp fill" id="desiredHeat"></div>
      <button class="item" onclick="modifyTemp('desiredHeat', -1)">-</button>
      <button class="item" onclick="modifyTemp('desiredHeat', 1)">+</button>
    </div>

    <div id="nav">
      <a href="/">Ojubee</a>
    </div>


    <script>
      var isInitialized = false;
      var thermostatId = location.pathname.replace("/thermostats/", "");
      var g_state;
      var pendingRequest;
      var pendingUpdateState;
      var g_tempsModified = false;

      function applyState() {
        if (!isInitialized) {
          document.body.classList.remove('hidden');
          // If we are on initial load, round values to weed out buggy
          // fractional junk.
          roundTempValues(g_state);
          generateNavBar(g_state);
          isInitialized = true;
        }

        var html = '';
        g_state.sensors.forEach(function(sensor) {
          html += '<div>' + sensor.name + ': ' + sensor.temp + '</div>';
        });
        document.getElementById('sensors').innerHTML = html;

        ["currentTemp", "desiredCool", "desiredHeat", "mode",].forEach((id) => {
          document.getElementById(id).textContent = g_state[id];
        });

        var fan = document.getElementById('fan');
        fan.setAttribute('state', g_state.desiredFanMode);
      }

      function generateNavBar(state) {
        var navBar = document.getElementById('nav');

        state.thermostatSummary.forEach((thermostat) => {
          var a = document.createElement('a');
          a.href = `/thermostats/${thermostat.id}`;
          a.textContent = thermostat.name;
          if (thermostat.id == state.thermostatId)
            a.className = 'current';
          navBar.appendChild(a);
        });
      }

      function updateState() {
        showSpinner();

        if (pendingUpdateState)
          pendingUpdateState.abort();

        pendingUpdateState = new XMLHttpRequest();
        pendingUpdateState.responseType = 'json';

        pendingUpdateState.addEventListener('load', () =>{
          var newState = pendingUpdateState.response;

          if (newState.error) {
            window.location = newState.redirectUrl + window.location.pathname;
            return;
          }

          // Check if desiredCool/heat don't match early return and
          // issue another updateTemp request and loop through till it takes.
          if (g_tempsModified && g_state &&
              (newState.desiredHeat != g_state.desiredHeat ||
               newState.desiredCool != g_state.desiredCool)) {
            console.log("Numbers didn't take. Retrying.",
              newState.desiredHeat, g_state.desiredHeat,
              newState.desiredCool, g_state.desiredCool);
            setTimeout(updateTemp, 1000);
            return;
          }

          g_tempsModified = false;
          hideSpinner();
          g_state = newState;
          localStorage[thermostatId] = JSON.stringify(g_state);
          applyState();
        });

        pendingUpdateState.addEventListener('error', () =>{});
        pendingUpdateState.open("GET", `/thermostats/${thermostatId}/json`);
        pendingUpdateState.send();
      }

      var cachedState = localStorage[thermostatId];
      if (cachedState) {
        g_state = JSON.parse(cachedState);
        if (g_state)
          applyState();
      }
      updateState();
      window.addEventListener('focus', updateState);

      function resumeSchedule() {
        showSpinner();

        var xhr = new XMLHttpRequest();
        xhr.addEventListener('load', updateState);
        xhr.addEventListener('error', () => {
          updateState();
          alert('Resume schedule failed. Reload the page to be safe.');
        });
        xhr.open("POST", `/thermostats/${thermostatId}/resume`);
        xhr.send();
      }

      function encodedValue(id) {
        // TODO: spaces as '+'
        return id + '=' + encodeURIComponent(g_state[id]);
      }

      function toggleFan() {
        if (g_state.desiredFanMode == 'auto')
          g_state.desiredFanMode = 'on';
        else
          g_state.desiredFanMode = 'auto';

        applyState();
        updateTemp();
      }

      function modifyTemp(id, delta) {
        g_tempsModified = true;
        g_state[id] = g_state[id] + delta;

        // Must have a minimum of 5 degrees difference.
        // Otherwise the server tries to do this logic but
        // goes crazy and uses fractional values.
        if (g_state.desiredCool - g_state.desiredHeat < 5) {
          if (id == 'desiredHeat')
            g_state.desiredCool = g_state.desiredHeat + 5;
          else
            g_state.desiredHeat = g_state.desiredCool - 5;
        }

        applyState();
        updateTemp();
      }

      // This rounding shouldn't be necessary, but ecobee sometimes returns
      // fractional values and everything gets confused.
      // Seems to happen if you try to set temp values that aren't allowed,
      // e.g. at the bounds of allowed, or hot/cold too close to each other.
      function roundTempValues(state) {
        state.desiredHeat = Math.round(state.desiredHeat);
        state.desiredCool = Math.round(state.desiredCool);
      }

      function showSpinner() {
        spinner.classList.remove('hidden');
      }

      function hideSpinner() {
        spinner.classList.add('hidden');
      }

      function updateTemp() {
        if (pendingRequest)
          pendingRequest.abort();

        showSpinner();

        pendingRequest = new XMLHttpRequest();
        pendingRequest.addEventListener('load', updateState);
        pendingRequest.addEventListener('error', () => {
          updateState();
          alert('Update failed. Reload the page to be safe.');
        });

        pendingRequest.open("POST", `/thermostats/${thermostatId}/sethold`);
        pendingRequest.setRequestHeader('Content-Type','application/x-www-form-urlencoded')

        roundTempValues(g_state);
        pendingRequest.send(`${encodedValue('desiredHeat')}&${encodedValue('desiredCool')}&${encodedValue('desiredFanMode')}`);
      }

      // ServiceWorker is a progressive technology. Ignore unsupported browsers
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('../service-worker.js').then(
          () => {},
          () => {
            console.log('CLIENT: service worker registration failure.');
          }
        );
      }
    </script>
  </body>
</html>
