<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel='stylesheet' href='/css/base.css' />
    <script src="/js/thermostats.js"></script>
    <script src="/js/show.js"></script>
    <style>
      #container {
        display: flex;
        flex-direction: column;
        flex: 1;
        transition: opacity 0.5s;
      }
      #container.hidden {
        flex: 0;
      }
      #details {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      #details > .split-container {
        font-size: 20px;
      }
      img {
        width: 50px;
      }
      #load-spinner {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
      #spinner {
        opacity: 1;
        margin: 10px;
        float: right;
        transition: opacity 0.5s;
      }
      .split-container {
        display: flex;
        position: relative;
      }
      .split-container > .item {
        flex: 1;
        margin: 5px;
        min-width: 0;
      }
      .split-container button {
        border: 1px solid;
        padding: 20px 0;
        font-size: 60px;
        background: white;
      }
      #currentTemp {
        font-size: 40px;
      }
      #sensors > div {
        padding: 3px;
      }
      #fan[state=on] {
        background-color: #999;
      }
      .fill {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.5;
        pointer-events: none;
      }
      .temp {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 60px;
        font-weight: bold;
      }
      .heat {
        color: red;
      }
      .cool {
        color: blue;
      }
    </style>
  </head>

  <body>
    <div id="load-spinner">
      <img src="/img/spinner.gif">
    </div>

    <div id="container" class="hidden">
      <div style="height: 0"><img id="spinner" class="hidden" src="/img/spinner.gif"></div>

      <div id="details">
        <div class="temp item" id="currentTemp"></div>
        <div class="split-container">
          <div class="item" id="sensors"></div>
          <div class="item" id="override">
            <div>Mode: <span id="mode"></span></div>
          </div>
        </div>
      </div>

      <div class="split-container">
        <button class="item" onclick="resumeSchedule()" style="font-size: 30px">Resume Schedule</button>
        <button id="fan" class="item" onclick="toggleFan()">Fan</button>
      </div>

      <div class="split-container">
        <div class="cool temp fill" id="desiredCool"></div>
        <button class="item" onclick="modifyTemp('desiredCool', -1)">-</button>
        <button class="item" onclick="modifyTemp('desiredCool', 1)">+</button>
      </div>

      <div class="split-container">
        <div class="heat temp fill" id="desiredHeat"></div>
        <button class="item" onclick="modifyTemp('desiredHeat', -1)">-</button>
        <button class="item" onclick="modifyTemp('desiredHeat', 1)">+</button>
      </div>

      <div id="nav"></div>
    </div>
  </body>
</html>
