<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="manifest" href="/manifest.json">
    <link rel='stylesheet' href='/css/base.css' />
    <script src="/js/thermostats.js"></script>
    <script src="/js/show.js"></script>
    <style>
      * {
        flex-wrap: wrap;
        min-width: min-content;
        white-space: nowrap;
      }
      #container {
        display: flex;
        flex-direction: column;
        flex: 1;
        transition: opacity 0.5s;
      }
      #container.hidden {
        flex: 0;
      }
      #details {
        flex: 1;
        display: flex;
        flex-direction: column;
        overflow: auto;
      }
      #details > .split-container {
        font-size: 20px;
      }
      img {
        width: 50px;
        min-width: 0px;
      }
      #load-spinner {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }
      #spinner {
        opacity: 1;
        margin: 5px;
        transition: opacity 0.5s;
      }
      #container.hidden #spinner {
        opacity: 0;
      }
      #override {
        font-size: 20px;
      }
      .split-container {
        display: flex;
        position: relative;
      }
      .split-container > .item {
        flex: 1;
        margin: 5px;
      }
      .split-container .button {
        border: 1px solid;
        padding: 10px 0;
        font-size: 60px;
        background: white;
        text-align: center;
      }
      #top-toolbar {
        display: flex;
      }
      #top-toolbar > * {
        flex: 1;
      }
      #currentTemp {
        font-size: 40px;
      }
      #sensors > *,
      #state > * {
        padding: 3px;
        display: flex;
      }
      #fan[state=on] {
        background-color: #ccc;
      }
      .fill {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        pointer-events: none;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
      }
      .temp {
        font-size: 60px;
        font-weight: bold;
        opacity: 0.5;
      }
      .hvacState {
        width: 40px;
        height: 40px;
        margin: 5px;
        border: 1px solid white;

        display: flex;
        align-items: center;
        justify-content: center;
      }
      .heatOn {
        background-color: pink;
      }
      .coolOn {
        background-color: lightblue;
      }
      .fanOn {
        background-color: #aaa;
      }
      .heat {
        color: red;
      }
      .cool {
        color: blue;
      }
    </style>
  </head>

  <body>
    <div id="load-spinner">
      <img src="/img/spinner.gif">
    </div>

    <div id="container" class="hidden">
      <div id="top-toolbar" class="split-container">
        <div class="item" style="display: flex; flex-wrap: nowrap;">
          <div id="coolOn" class="hvacState">Cool</div>
          <div id="heatOn" class="hvacState">Heat</div>
          <div id="fanOn" class="hvacState">Fan</div>
        </div>
        <div class="item" style="display: flex; justify-content: space-between;">
          <div id="currentTemp"></div>
          <div style="text-align: right"><img id="spinner" class="hidden" src="/img/spinner.gif"></div>
        </div>
      </div>

      <div id="details">
        <div class="split-container">
          <div class="item" id="state">
            <div>Mode:
              <select id="mode" onchange="updateMode()">
                <option value="heat">Heat</option>
                <option value="cool">Cool</option>
                <option value="auto">Auto</option>
                <option value="off">Off</option>
              </select>
            </div>

            <div>
              Hold:
              <select id="duration">
                <option value="2">2 hours</option>
                <option value="4">4 hours</option>
                <option selected value="nextTransition">Next transition</option>
                <option value="indefinite">Indefinite</option>
              </select>
            </div>
          </div>

          <div class="item" id="sensors"></div>
        </div>
      </div>

      <div>
        <div class="split-container">
          <div id="resume" class="button item center" onclick="resumeSchedule()">
            <div style="font-size: 30px">Resume</div>
            <div id="override"></div>
          </div>
          <div id="fan" class="button item" onclick="toggleFan()">Fan</div>
        </div>

        <div class="split-container">
          <div class="cool temp fill" id="desiredCool"></div>
          <div class="button item" onclick="modifyTemp('desiredCool', -1)">-</div>
          <div class="button item" onclick="modifyTemp('desiredCool', 1)">+</div>
        </div>

        <div class="split-container">
          <div class="heat temp fill" id="desiredHeat"></div>
          <div class="button item" onclick="modifyTemp('desiredHeat', -1)">-</div>
          <div class="button item" onclick="modifyTemp('desiredHeat', 1)">+</div>
        </div>
      </div>

    </div>

    <div id="nav"></div>
  </body>
</html>
