body {
  margin: 0;
  max-width: 500px;
}

.nav {
  background-color: black;
  color: #999;
  display: flex;
  flex-wrap: wrap;
}

.nav > a {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: 1px solid;
  white-space: nowrap;
  font-size: 20px;
  text-align: center;
  color: #999;
  text-decoration: none;
}

.nav > .current {
  background-color: #999;
  color: black;
}
