html {
  height: 100%;
  background-color: #eee;
  display: flex;
  justify-content: center;
}

body {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  max-width: 500px;
}

.hidden {
  opacity: 0 !important;
  pointer-events: none;
}

#nav {
  background-color: black;
  color: #eee;
  display: flex;
  flex-wrap: wrap;
}

#nav > a {
  flex: 1;
  padding: 10px;
  margin: 5px;
  border: 1px solid;
  white-space: nowrap;
  font-size: 20px;
  text-align: center;
  color: #eee;
  text-decoration: none;
}

#nav > .current {
  background-color: #eee;
  color: black;
}
